@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('http://localhost:8000/images/bg.png');
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}
.gradient {
    background-image: 
        linear-gradient(to right top,#3B41C5,#A981BB,#FFC8A9)
    ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.cover {
    @apply w-full h-full object-cover
}
.btn {
    @apply inline-block px-12 py-2 text-zinc-100 rounded-lg text-center
}
.btn-primary {
    @apply bg-primary text-zinc-900
}
.btn-outline-gray {
    @apply border-2 border-zinc-300 text-zinc-900 
}
.btn-focus-p {
    @apply bg-focus-p
}
.form-label {
    @apply text-sm mb-1 block
}
.form-control {
    @apply w-full px-4 py-3 rounded bg-zinc-100
}
.req {
    @apply before:content-['*'] before:text-rose-600 before:pr-1
}